.deps
*.lo
*.la
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
run-tests.php
tests/*/*.diff
tests/*/*.out
tests/*/*.php
tests/*/*.exp
tests/*/*.log
tests/*/*.sh
/EXPERIMENTAL
/MatrixX.dsp
/MatrixX.php
/php5ts.lib
/MatrixX.sdf
/MatrixX.vcxproj
/MatrixX.opensdf
/MatrixX.sln
/MatrixX.vcxproj.user
/UpgradeLog.htm
/MatrixX.vcxproj.filters
Release_TS
Debug_TS
.vs
Backup
